body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    color: $color-gray-dark;
    padding: 2.5rem;
    box-sizing: border-box;
  }
  
  
  
  
  
  .heading-primary{
    color: $color-white;
    text-transform: uppercase;
  
    backface-visibility: hidden;
    margin-bottom: 5rem;
  
  
    &--main{
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation: moveInLeft 1s ease-out;
    }
    
    &--sub{
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
      animation: moveInRight 1s ease-out;
    }
}